<h3 style="text-align:center">Welcome {{user.name}}</h3>

<h4 class="create-text">Create a new poll</h4>

<form style="text-align:center" name="createPollForm" method="post" action="post" role="form">
    <input type="hidden" name="_csrf" value={{csrfToken}} />
    <div class="row">
        <div class="col-sm-6 col-centered">
            <input type="text" minlength="6" maxlength="120" class="form-control" placeholder="Your poll here ..." required>
            <p class="help-block" style="text-align:left">Minimum 6 characters</p>
        </div>
    </div>
    <h4 class="options-heading">Options</h4>
    <new-poll-options></new-poll-options>
    <button type="submit" class="btn btn-md btn-success" id="form-button"><i class="fa fa-bullhorn" aria-hidden="true"></i> Create</button>
</form>