<div style="margin:2% auto; text-align:center">
    <a class="btn btn-lg btn-primary" href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
</div>
<div class="row">
    <div class="col-md-8 col-centered intro-content">
        <div class="well">
            <p>
                Registered users can create poles and get live results. We only accept facebook and google users to sing up, for easy maintainance
                of our databases and servers. In order to vote one should be registered . But non registered viewers can also view the poll if they have url of that poll.
            </p>
        </div>
    </div>
</div>